# Dossiers de sortie de compilation
bin/
Debug/
Release/
x64/
x86/

# Fichiers de projet Visual Studio
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Fichiers temporaires Visual Studio
ipch/
*.aps
*.ncb
*.opendb

# Dossiers spécifiques aux configurations de Visual Studio
*.sln.docstates

# Fichiers de sauvegarde temporaires
*~
*.bak
*.backup
*.swp

# Fichiers de configuration Visual Studio Code
.vscode/

# Fichiers de configuration CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeScripts/

# Fichiers de build générés par CMake
Makefile
cmake_install.cmake
CMakeSettings.json
CMakeSettings.json.tmp

# Fichiers de compilation C++
*.obj
*.o
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.ipdb
*.iobj

# Fichiers de logs
*.log
*.log.*
*.stackdump

# Fichiers de configuration spécifiques à l'utilisateur
*.suo
*.user
*.userosscache
*.sln.docstates
